*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.Authentication{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Auth{
    width: 33%;
}


